body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/assets/img/Imagen-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*Nombre de la empresa*/
.titulo-fondo {
  background-image: linear-gradient(to right, rgb(7, 83, 45), rgb(1, 161, 1));
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-fondo img {
  width: 150px;
  padding-block: 30px;
  filter: drop-shadow(10px 7px 10px orange);
}
.titulo-fondo a {
  text-decoration: none;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  text-align: center;
  text-shadow: -2px 1px 3px rgba(58, 38, 0, 0.4);
  background-image: linear-gradient(
    to right,
    rgb(255, 94, 0),
    rgb(255, 208, 0)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*Menu de navegación*/
.menu {
  background-color: gray;
  border: 5px solid rgb(63, 63, 63);
}
.lista-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 18px 0;
  flex-wrap: wrap;
}
.lista-menu a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: all 0.3s;
}
.lista-menu a:hover {
  background-color: rgb(82, 82, 82);
  border-radius: 10px;
}
.lista-menu a:active {
  box-shadow: -1px 2px 10px rgb(0, 0, 0);
  padding: 12px;
}
/*Bienvenida*/
.bienvenida {
  background-image: linear-gradient(
    to right,
    rgba(0, 117, 35, 0.9),
    rgba(78, 179, 247, 0.9)
  );
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 20px;
  width: 80vw;
  margin: 10px 100px;
  border-radius: 50px;
}
/*cartas*/

.contenedor {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 100px auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 50px;
}

.contenedor img {
  margin: -150px;
  border-radius: 20px;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  box-shadow: 4px 2px 3px 1px rgba(0, 0, 0, 0.4);
}
.imagen {
  display: flex;
  align-items: center;
}

.detalles {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 117, 35, 0.9),
    rgba(78, 179, 247, 0.9)
  );

  margin-left: 120px;
  border-radius: 0 10px 10px 0;
}
.detalles h3 {
  text-align: center;
}
.detalles p {
  text-align: center;
  margin: 0 30px;
  font-size: large;
}
.actividades h4 {
  margin: 10px 30px;
}
.actividades ul {
  margin: 0 20px;
  list-style: "✈";
  padding: 10px;
}
.precio {
  margin: 0 20px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.compra {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 81, 255);
  width: 30px;
  margin: 0 20px;
  margin-bottom: 30px;
  padding: 5px 40px;
  border-radius: 10px;
}
.compra:hover {
  width: 35px;
  height: 20px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
}
.compra a {
  text-decoration: none;
  color: white;
}
.margen {
  background-image: linear-gradient(to right, rgb(7, 83, 45), rgb(1, 161, 1));
  height: 100px;
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }

  .titulo-fondo img {
    display: none;
  }
  .bienvenida {
    margin: 10px 0;
    width: auto;
    font-size: 17px;
  }
  .contenedor {
    margin: 100px 0;
    display: block;
    width: auto;
  }
  .contenedor img {
    width: 200px;
    height: 100px;
  }
  .imagen {
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 0 115px;
  }
  .detalles {
    margin: 0;
    width: auto;
  }
  .detalles h3 {
    margin-top: 100px;
  }
}
